.allFont {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	font-weight: bold;
  color:black;
}
.bar-title{
  font-weight: normal;
  font-size: 2.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #bar {
    background-color: transparent;
    box-shadow: none;
  }
  .bar-container{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #bar {
    background-color: transparent;
    box-shadow: none;
  }
  .bar-container{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #bar {
    background-color: transparent;
    box-shadow: none;
  }
  .bar-container{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #bar {
    background-color: white;
    opacity: 0.7;
  }
  .bar-container{
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #bar {
    background-color: white;
    opacity: 0.7;
  }
  .bar-container{
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}