body {
  margin: 0;
  font-family: museo-slab-w01-100, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-image:url('./headerImg.jpg');
    position: relative;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width:100%;
    height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
